.projects__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 tarjetas por fila */
  gap: 1.25rem;
  max-width: var(--container);
  margin: 0 auto;
  padding: 2rem 1rem;
}

.project-card{
  background: var(--card-bg);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 20px rgba(2,6,23,0.45);
  transition: transform 180ms ease, box-shadow 180ms ease;
}

.project-card:hover{ transform: translateY(-6px); box-shadow: 0 18px 40px rgba(2,6,23,0.6); }

.project-card__thumb{ position: relative; border: 0; padding: 0; background: transparent; cursor: pointer; }
.project-card__thumb img{ width: 100%; height: 180px; object-fit: cover; display: block; }
.play{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 1.6rem; color: var(--white); }

.project-card__body{ padding: 0.9rem; display:flex; flex-direction:column; gap:0.5rem; }
.project-card__title{ margin:0; font-size:1.05rem; font-weight:700; }
.project-card__desc{ margin:0; color:var(--muted); font-size:0.95rem; }
.project-card__link{ margin-top:auto; color:var(--accent); font-weight:600; text-decoration:none; }

@media(max-width:980px){
  .projects__grid{
    
    display: flex;
    flex-direction: column; /* apila en vertical */
    gap: 1rem; /* espacio entre elementos */
    align-items: center;
    margin-right: 90px;
  
  }
  .project-card{
    width:300px;
    margin-left: 40%;
  }

}